@page "/AcercaDe"


<RadzenCard>
    <header>
        <div class="text-center alert alert-info">
            <h1>Equipo super trabjador E</h1>
        </div>
    </header>

    <br />

    <section class="container-fluid">

        <center>
            <div class="row">

                <div class="col-md-4">
                    <div class="card" style="width: 18rem; height:30rem;">
                        <img class="card-img-top" src="img/Gabriel.PNG" alt="Picture Gabriel" style="height:24rem;">
                        <div class="card-body">
                            <h5 class="card-title">Gabriel Ernesto De La Rosa Paniagua</h5>
                            <p class="card-text">2019-7878</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem; height:30rem;">
                        <img class="card-img-top" src="img/Anthony.jpg" alt="Picture Anthony" style="height:24rem;">
                        <div class="card-body">
                            <h5 class="card-title">Anthony Gabriel Valdez González</h5>
                            <p class="card-text">2018-6341</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem; height:30rem;">
                        <img class="card-img-top" src="img/Luis.PNG" alt="Picture Luis" style="height:24rem;">
                        <div class="card-body">
                            <h5 class="card-title">Luis Antonio De Aza de Jesús</h5>
                            <p class="card-text">2018-6347</p>
                        </div>
                    </div>
                </div>

            </div>
        </center>

        <br /><br />
    </section>
</RadzenCard>

@code {

}