@page "/Aserca"


<div class="container" style="        background-color: aqua;
        border-bottom-right-radius: 80px;
        border-bottom-left-radius: 80px
">
    <div class="text-center alert alert-primary"><h1>Equipo super trabjador E</h1></div>
    <br />

    <div class="row">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Integrante</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Matricula</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Gabriel Ernesto De La Rosa Paniagua</td>
                    <td>2019-7878</td>
                    
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Anthony Gabriel Valdez González</td>
                    <td>2018-6341</td>
                    
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Luis Antonio De aza De jesus</td>
                    <td>2018-6347</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {

}
