@page "/sendi"
@using System.Net.Mail; 

<h1>Prueba de envio</h1>
 
<br />
<span style="font-weight: bold;font-size: 28px;color: #c00;">@Message </span>

@code{
    private string Message {get; set;} = "";

    private void SendMail()
    {
        try
        {
            using (MailMessage  mail = new MailMessage())
            {
                mail.From = new MailAddress("kentayiroma@gmail.com"); //Este es el correo que envial el mensaje
                mail.To.Add("anthonyvaldezg9@gmail.com"); //Este es el correo que lo recibe
                mail.Subject = "Solicitud de Prueba"; //El asunto
                mail.Body = "<h1> Este es el cuerpo</h1>"; //Lo que contiene el mensaje
                mail.IsBodyHtml = true;

                using (SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587))
                {
                    smtp.Credentials = new System.Net.NetworkCredential("superequioe@gmail.com","superequipoE4");//necesita el correo y la clave para que pueda enviar el correo
                    smtp.EnableSsl = true;
                    smtp.Send(mail);
                    Message = "Mail enviado";
                }
            }
        }
        catch (Exception ex)
        {
            
            Message = ex.Message;
        }
    }
}
