@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="AcercaDe" >Acerca de</a>
        </div>

        <div class="content px-4">
            @Body
            <br />

            <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color:black;color:white);">
        Acerca de :
        <a class="text-white" href="AcercaDe">Grupo super trabajador E</a>
    </div>
    <!-- Copyright -->
</footer>
        </div>
    </div>
</div>
